<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>Vue Playground</title>
</head>

<body>
    <h1>Vue Playground</h1>

    <div id="basic">
        <h3>Basic Element</h3>
        <p>{{ message }}</p>
        <hr>
    </div>

    <div class="class-element">
        <h3>Class Element</h3>
        <p>{{ message }}</p>
        <hr>
    </div>

    <div class="me">
        <h3>More data</h3>
        <p>Hi, my name is {{ firstName }} {{ lastName }}, I am {{ age }} years old and live in {{ town }}</p>
        <hr>
    </div>

    <div id="list">
        <h3>Loops</h3>
        <ul>
            <li v-for="item in menu">
                {{ item.text }}
            </li>
        </ul>
        <hr>
    </div>

    <div id="todoList">
        <h3>Adding to a list</h3>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <p>Add an item</p>
        <input type="text" v-model="todos">
        <button v-on:click="addToList">Add to list</button>
        <hr>
    </div>

    <script src="/js/vue.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
</body>

</html>
